* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --mainBackground: hsla(0, 0%, 100%, 0.75);
    --background-color-first-card: #E28726;
    --background-color-second-card: #006870;
    --background-color-tertiary-card: #004241;
    --background-headings-buttons: #F2F2F2;
    --footer: #f51cad;

    /* font */
    --title-fontSize: 40px;
    --title-fontFamily: 'Big Shoulders Display', cursive;
    --paragraph-fontSize: 15px;
    --paragraph-fontFamily: 'Lexend Deca', sans-serif;

    /* z-index */
    --z-indexBackground: 1;
    --z-indexCardBack: 2;
    --z-indexCardFront: 3;
    --z-indexCircles: 4;
}

body, footer {
    font-size: var(--main-fontSize);
    width: 100%;
    height: 100%;
}

/* MOBILE */

#mainBackgroud {
    display: flex;
    align-items: center;
    width: 100% ;
    height:100%;
    color: var(--mainBackground);
}

#sedans, #suvs, #luxury {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#sedans {
    background-color: var(--background-color-first-card);
    border-radius: 1rem 1rem 0 0;
}

#suvs {
    background-color: var(--background-color-second-card);
}

#luxury {
    background-color: var(--background-color-tertiary-card);
    border-radius: 0 0 1rem 1rem;
}

.title {
    width: 35%;
    height: 30%;
    font-size: var(--title-fontSize);
    font-family: var(--title-fontFamily);
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 1px solid red;
}

.paragraph {
    width: 65%;
    height: 20%;
    font-size: var(--paragraph-fontSize);
    font-family: var(--paragraph-fontFamily);
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid blue;
}

/* DESKTOP */


/* Footer */

.attribution {
    font-size: var(--main-fontSize);
    font-family: var(--title-fontFamily);
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--footer);
}